<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'was/icons/wildcats_logo_white.ico'%}">
    <link rel="stylesheet" href="{% static 'was/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/course_main_style.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/course_details.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/sidenav.css' %}">
     
    <title>{{ course.SubjectCode }} | WAS</title>
</head>

<body>
<section class="main-section">
    <header>
        <div class="headtitle">
            <img src="{% static 'was/icons/wildcats_logo_white.ico' %}" alt="Logo" class="logo" style="pointer-events: none">
            <h1>WILDCATS ACADEMIC SYNC</h1>
        </div>
        <span class="sidenav-toggle" id="sidenav-toggle">&#9776;</span>
    </header>

    <section class="details-section">
            {% include 'side_bar.html' %}
     

        <div class="details-content">
            <h2 style="margin-bottom: 10px">{{ course.SubjectCode }} - {{ course.SubjectDescription }}</h2>

            <br>
            <div class="navbar">
                <a class="active" href="">Details</a>
                <a href="{% url 'course_tasks' course.CourseID %}">Tasks</a>
                <a href="{% url 'course_grade' course.CourseID %}">Grades</a>
            </div>
            <div class="details-container" style="margin-bottom: 25px">
                <h1 style="margin-bottom: 15px; display: inline-block">Subject Information:</h1>
                <button id="deleteCourseButton" class="square-delete-button">Delete</button>
                <button id="editCourseButton" class="square-edit-button">Edit</button>

                <div style="margin-bottom: 15px">
                    <h5 style="margin-bottom: 7px; color: #505050">Subject Code:</h5>
                    {{ course.SubjectCode }}
                </div>

                <div style="margin-bottom: 15px">
                    <h5 style="margin-bottom: 7px; color: #505050">Subject Description:</h5>
                    {{ course.SubjectDescription }}
                </div>

                <div style="margin-bottom: 15px">
                    <h5 style="margin-bottom: 7px; color: #505050">Class Section:</h5>
                    {{ course.Section }}
                </div>

                <div style="margin-bottom: 15px">
                    <h5 style="margin-bottom: 7px; color: #505050">Professor</h5>
                    {{ course.Professor }}
                </div>

                <br>
                <hr>
                <br>

                <h1 style="margin-bottom: 15px; display: inline-block">Cover Photo:</h1>
                <button id="deleteCoverPhotoButton" class="square-delete-button">Delete</button>
                <button id="editCoverPhotoButton" class="square-edit-button">Edit</button>

                <div>
                     <img src="{{ course.CourseImage.url }}" alt="Course Logo Placeholder" class="img-placeholder-course" style="height: 200px; width: 200px; object-fit: cover; transform: rotate(-3deg); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);">
                </div>

                <br>
                <hr>
                <br>

                <h1 style="margin-bottom: 15px; display: inline-block">Schedule:</h1>
                <button id="addScheduleButton" class="square-add-sched-button">Add Schedule</button>

                <div style="margin-bottom: 15px">
                    {% for schedule in schedules %}
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="margin-bottom: 10px; margin-top: 15px; display: flex; align-items: center;">
                                <div style="flex-grow: 1;">
                                    <span style="margin-right: 10px; font-weight: bold;"> - {{ schedule.DayOfWeek|capfirst }}s</span> |
                                    <span style="margin-right: 10px; font-weight: bold;">{{ schedule.StartTime|time:"h:i A" }}</span>-
                                    <span style="margin-right: 10px; font-weight: bold;">{{ schedule.EndTime|time:"h:i A" }}</span> |
                                    <span>Room: {{ schedule.Room|default:"Unspecified" }}</span>
                                </div>
                                <form action="{% url 'delete_schedule' course.CourseID schedule.ScheduleID %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" id="deleteScheduleButton" class="square-delete-schedule-button">X</button>
                                </form>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>

<div id="sidenav" class="sidenav">
    <a href="#" class="sidenav-close" onclick="closeNav()">&times;</a>
    <p>{{ user.username }}</p>
    <br>
    <hr>
    <br>
    <a href="{% url 'profile' %}">PROFILE</a>
    <a href="{% url 'courses' %}">COURSES</a>
    <a href="{% url 'logout' %}">LOGOUT</a>
</div>

{% if messages %}
    <div id="snackbar">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <span style="color: indianred">X</span> {{ message }}
            {% endif %}
            {% if message.tags == 'success' %}
                <span style="color: darkseagreen">✔</span> {{ message }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div id="editCourseModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Edit Course</h2>
        </div>
        <br>
        <form method="post" action="{% url 'edit_course' course.CourseID %}">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px">
                <label for="subject_code">Subject Code:</label>
                <input type="text" style="margin-top: 10px; margin-bottom: 10px; width: 100%" id="subject_code" name="subject_code" value="{{ course.SubjectCode }}" required>
                <label for="subject_description">Subject Description:</label>
                <input type="text" style="margin-top: 10px; margin-bottom: 10px; width: 100%" id="subject_description" name="subject_description" value="{{ course.SubjectDescription }}" required>
                <label for="section">Section:</label>
                <input type="text" style="margin-top: 10px; margin-bottom: 10px; width: 100%"  id="section" name="section" value="{{ course.Section }}" required>
                <label for="professor">Professor:</label>
                <input type="text" style="margin-top: 10px; margin-bottom: 10px; width: 100%" id="professor" name="professor" value="{{ course.Professor }}" required>
            </div>
            <div class="modal-buttons">
                {% csrf_token %}
                <button class="modal-button">Confirm</button>
                <button type="button" class="modal-button" onclick="closeEditCourseModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div id="editCoverPhotoModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Upload Cover Photo</h2>
        </div>
        <br>
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_cover_photo' course.CourseID %}">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px">
                <input type="file" id="course_image" name="course_image" style="width: 100%; padding: 10px; border: 2px solid #ccc; border-radius: 5px; background-color: #fff; font-size: 16px;">
            </div>
            <div class="modal-buttons">
                {% csrf_token %}
                <button class="modal-button">Confirm</button>
                <button type="button" class="modal-button" onclick="closeEditCoverPhotoModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteCoverPhotoModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Delete Cover Photo</h2>
        </div>
        <br>
        <form method="post" enctype="multipart/form-data" action="{% url 'delete_cover_photo' course.CourseID %}">
            <div class="modal-buttons">
                {% csrf_token %}
                <button class="modal-button">Confirm</button>
                <button type="button" class="modal-button" onclick="closeDeleteCoverPhotoModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteCourseModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Confirm Delete Course?</h2>
        </div>
        <br>
        <form method="post" action="{% url 'delete_course' course.CourseID %}">
            <div class="modal-buttons">
                {% csrf_token %}
                <button type="submit" class="modal-button">Yes</button>
                <button type="button" class="modal-button" onclick="closeDeleteCourseModal()">No</button>
            </div>
        </form>
    </div>
</div>

<div id="addScheduleModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Add a Schedule</h2>
        </div>
        <br>
        <form method="post" action="{% url 'add_schedule' course.CourseID %}">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px">
                <div>
                    <label for="day_of_week">Day of Week:</label>
                    <select style="margin-top: 10px; margin-bottom: 10px; width: 100%" id="day_of_week" name="day_of_week" required>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                        <option value="sunday">Sunday</option>
                    </select>
                </div>
                <div>
                    <label for="room" style="display: inline-block; width: 100px;">Room:</label>
                    <input style="margin-top: 10px; margin-bottom: 10px; width: 100%" type="text" name="room" id="room" list="roomList" placeholder="Enter Room" required>
                    <datalist id="roomList">
                        <option value="Online">
                        <option value="Async">
                    </datalist>
                </div>
                <div>
                    <label for="start_time" style="width: 100px;">Start Time:</label>
                    <input style="margin-top: 10px; margin-bottom: 10px; width: 100%" type="time" id="start_time" name="start_time" required>
                </div>
                <div>
                    <label for="end_time" style="width: 100px;">End Time:</label>
                    <input style="margin-top: 10px; margin-bottom: 10px; width: 100%" type="time" id="end_time" name="end_time" required>
                </div>
            </div>
            <div class="modal-buttons">
                {% csrf_token %}
                <button class="modal-button">Confirm</button>
                <button type="button" class="modal-button" onclick="closeAddScheduleModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>

<script src="{% static 'was/js/snackbar.js' %}"></script>
<script src="{% static 'was/js/sidenav.js' %}"></script>
<script src="{% static 'was/js/course_details_modals.js' %}"></script>

