<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'was/icons/wildcats_logo_white.ico'%}">
    <link rel="stylesheet" href="{% static 'was/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/course_main_style.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/course_grade.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/sidenav.css' %}">
    <title>{{ course.SubjectCode }} | WAS</title>
</head>

<body>
<section class="main-section">
    <header>
        <div class="headtitle">
            <img src="{% static 'was/icons/wildcats_logo_white.ico' %}" alt="Logo" class="logo" style="pointer-events: none">
            <h1>WILDCATS ACADEMIC SYNC</h1>
        </div>
        <span class="sidenav-toggle" id="sidenav-toggle">&#9776;</span>
    </header>

    <section class="details-section">
        {% include 'side_bar.html' %}


        <div class="details-content">
            <h2 style="margin-bottom: 10px">{{ course.SubjectCode }} - {{ course.SubjectDescription }}</h2>

            <br>
            <div class="navbar">
                <a href="{% url 'course_details' course.CourseID %}">Details</a>
                <a href="{% url 'course_tasks' course.CourseID %}">Tasks</a>
                <a class="active" href="{% url 'course_grade' course.CourseID %}">Grades</a>
            </div>

            <div class="grade-calculator-button-container">
                <a href="{% url 'course_grade' course.CourseID %}" class="grade-calculator-button">Back to Grades</a>
            </div>
            <div class="details-content"> 
                <h3>Grade Calculator</h3>
    
                <table class="grade-table">
                    <thead>
                        <tr>
                            <th>Task Title</th>
                            <th>Deadline</th>
                            <th>Date Completed</th>
                            <th>Score</th>
                            <th>Total Score</th>
                            <th>Days Late</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if tasks %}
                            {% for task in tasks %}
                            <tr>
                                <td>{{ task.Title }}</td>
                                <td>{{ task.Deadline }}</td>
                                <td>{{ task.dateCompleted }}</td>
                                <td>{{ task.Score }}</td>
                                <td>{{ task.Score_over }}</td>
                                <td>{{ task.days_late }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">No tasks yet. Add scores on your completed task to display and calculate</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    
                </table> 
                <hr>
                <br>
                <div class="grade-summary">
                    <h3>Total Percentage: {{ percentage }}%</h3>
                    <br>
                    <h3>Expected Grade: {{ expected_grade }}</h3>
                </div>
            </div>
            </div>
        </div>
    </section>
</section>

<div id="sidenav" class="sidenav">
    <a href="#" class="sidenav-close" onclick="closeNav()">&times;</a>
    <p>{{ user.username }}</p>
    <br>
    <hr>
    <br>
    <a href="{% url 'profile' %}">PROFILE</a>
    <a href="{% url 'courses' %}">COURSES</a>
    <a href="{% url 'logout' %}">LOGOUT</a>
</div>

{% if messages %}
    <div id="snackbar">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <span style="color: indianred">X</span> {{ message }}
            {% endif %}
            {% if message.tags == 'success' %}
                <span style="color: darkseagreen">✔</span> {{ message }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

 

</body>
</html>

<script src="{% static 'was/js/snackbar.js' %}"></script>
<script src="{% static 'was/js/sidenav.js' %}"></script>
<script src="{% static 'was/js/course_grade_modals.js' %}"></script>
