<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'was/style.css'%}">
    <link rel="stylesheet" href="{% static 'was/login_register_style.css' %}">
</head>
<body>
    <form method="post" action="{% url 'login' %}">
        <h1>Login</h1>
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}    
                    <p style="color: rgb(255, 44, 76); font-size: 15px; text-align: center">{{ message }}</p>
                {% endif %}
                {% if message.tags == 'success' %}
                   <p style="color: rgb(9, 159, 19); font-size: 15px; text-align: center">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="button-container">
            <input type="submit" value="Login" class="square-button">
            <a href="{% url 'register' %}"><input type="button" value="Register" class="square-button"></a>
        </div>
    </form>

</body>
</html>