<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'was/icons/wildcats_logo_white.ico'%}">
    <link rel="stylesheet" href="{% static 'was/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'was/css/sidenav.css' %}">
    <title>Courses | WAS</title>
</head>

<body>
<section class="main-section">
    <header>
        <div class="headtitle">
            <img src="{% static 'was/icons/wildcats_logo_white.ico' %}" alt="Logo" class="logo" style="pointer-events: none">
            <h1>WILDCATS ACADEMIC SYNC</h1>
        </div>
        <span class="sidenav-toggle" id="sidenav-toggle">&#9776;</span>
    </header>

    <section class="courses-section">
        <div id="side-bar"></div>
        {% include 'side_bar.html' %}


        <div class="courses-content">
            <h2 style="margin-bottom: 10px">Courses</h2>

            <hr style="margin: 25px 0px 25px 0px">

            <form action="{% url 'search_courses' %}" method="post">
                {% csrf_token %}
                <input class="search-bar" type="search" id="searchBar" name="search-course" placeholder="Search courses..." value="{{  search_input }}">
                <button class="square-search-button" type="submit">Search</button>
                <a href="{% url 'courses' %}" style="margin-left: 0px; text-decoration: none;">Cancel</a>
            </form>

            <p style="margin-top: 10px;">Search results for '<strong>{{ search_input }}</strong>'</p>

            <br>

            <div class="courses-container" style="margin-bottom: 25px">
                <div class="row">
                    {% for course in results %}
                        <div class="column">
                          <div class="card" onclick="window.location.href = '{% url 'course_details' course.CourseID %}';">
                            <img src="{{ course.CourseImage.url }}" alt="Course Logo Placeholder" class="img-placeholder-course" style="height: 69%; width:100%; pointer-events: none; object-fit: cover">
                            <div class="container">
                              <h2>{{ course.SubjectCode }} - {{ course.Section }}</h2>
                                <div class="description"><i>{{ course.SubjectDescription }}</i></div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
</section>

<div id="sidenav" class="sidenav">
  <a href="#" class="sidenav-close" onclick="closeNav()">&times;</a>
  <p>{{ user.username }}</p>
  <br>
  <hr>
  <br>
  <a href="{% url 'profile' %}">PROFILE</a>
  <a href="{% url 'courses' %}">COURSES</a>
  <a href="{% url 'logout' %}">LOGOUT</a>
</div>

{% if messages %}
    <div id="snackbar">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <span style="color: indianred">X</span> {{ message }}
            {% endif %}
            {% if message.tags == 'success' %}
                <span style="color: darkseagreen">✔</span> {{ message }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

</body>
</html>

<script src="{% static 'was/js/snackbar.js' %}"></script>
<script src="{% static 'was/js/sidenav.js' %}"></script>