* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.courses-section {
  display: flex;
  flex: 1;
}

.courses-content {
  flex: 3;
  padding: 35px;
  position: relative;
  overflow: hidden;
}

.courses-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: -2;
}

.courses-content::after {
  content: '';
  background-image: url('../images/wildcats_logo_black.png'), url('../images/wildcats_logo_black.png');
  background-size: 50% auto, 50% auto;
  background-position: -373px 0, 1150px 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.025;
}

.left-bar {
  flex: 0.10;
  padding: 20px;
  background: linear-gradient(to right, #f5dc60, #f5e077);
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  height: 33vh;
  cursor: pointer;
}

.container {
  padding: 0 16px;
}

.container h2 {
  padding-top: 10px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.description {
  color: grey;
  font-size: 15px;
  padding-bottom: 20px;
}

.img-placeholder-course {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.add-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  position: relative;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.add-card:hover {
  opacity: 0.5;
}

.add-container {
  padding: 0 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .card {
    height: auto;
  }
}
