.grade_container {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    padding: 35px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    min-height: 60vh;
    max-height: 60vh;
}

.midterm_container, .final_container {
    flex: 1;  
    margin-right: 20px; 
}

.midterm_modify_container, .final_modify_container {
    margin-left: 450px;  
}
 
.display_midterm_grade,
.display_final_grade {
    text-align: center;
    font-size: 54px;
    padding: 10px;
    
}


.addMidtermGradeBtn,
.editMidtermGradeBtn,
.deleteMidtermGradeBtn,
.addFinalGradeBtn,
.editFinalGradeBtn,
.deleteFinalGradeBtn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.addMidtermGradeBtn, .addFinalGradeBtn {
    background-color: #4CAF50;  
    color: white;
}

.addMidtermGradeBtn:hover, .addFinalGradeBtn:hover {
    background-color: #45a049; 
}
 
.editMidtermGradeBtn, .editFinalGradeBtn {
    background-color: #0073e6;  
    color: white;
}

.editMidtermGradeBtn:hover, .editFinalGradeBtn:hover {
    background-color: #0073e6; 
}
 
.deleteMidtermGradeBtn, .deleteFinalGradeBtn {
    background-color: #f44336; 
    color: white;
}

.deleteMidtermGradeBtn:hover, .deleteFinalGradeBtn:hover {
    background-color: #d32f2f;  
}

/* Style for the grade table */
.grade-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

.grade-table th, .grade-table td {
    border: 1px solid #dddddd;
    text-align: center; /* Center align the content */
    padding: 8px;
}

.grade-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.grade-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.grade-table tr:hover {
    background-color: #f1f1f1;
}

.grade-calculator-button-container {
    margin-top: 20px; /* Adjust margin as needed */
    text-align: left;
}

.grade-calculator-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgray; /* Green background */
    color: black;
    text-decoration: none;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grade-calculator-button:hover {
    background-color: darkgray; /* Darker green on hover */
}

