body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5dc60;
  height: 100vh;
  background-image: url('../images/wildcats_logo_black.png'), url('../images/wildcats_logo_black.png');
  background-repeat: no-repeat;
  background-position: 50% 0, 50% 0;
  transition: background-size 0.4s ease;  
}

@media (min-width: 768px) {
  body {
    background-size: 50% 100%, 50% 100%;
    background-position: -50% 0, 150% 0;
  }
}

@media (max-width: 567px) {
  body {
    background-image: none;
  }
}



form {
  width: 250px;
  display: flex;
  flex-direction: column;
  /* background-color: #f8f8f8; */
  background-color: rgba(239, 239, 239, 0.5);
  padding: 30px;
  justify-content: center;
  box-shadow: 5px 5px rgba(16, 16, 16, 0.1);
  border-radius: 10px;
}

.header h1 {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: snow;
  font-size: 2rem;  
  transition: font-size 0.3s ease;  
  white-space: nowrap;  
  text-align: center;  
}

@media (max-width: 567px) {
  .header h1 {
    font-size: 1.8rem;
  }
}



.form-line {
  margin: 0 0 10px;
  text-align: center;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.input-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #007bff;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.square-button {
  background-color: #212121;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-top: 25px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.square-button:hover {
  background-color: #706F69;
  box-shadow: 3px 3px rgba(16, 16, 16, 0.1);
}


.signin-link {
  text-align: center;  
}

.signin-link p {
  font-size: 14px;  
}

.signin-link a {
  font-weight: bold;  
}

.password-container{
  display: inline-block;
  position: relative;
}

.password-container input{
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.password-container .password-icon{
  position: absolute;
  top: 27px;
  right: 10px;
  width: 20px;
  cursor: pointer;
  opacity: 0.25;
  display: none;
}

.password-container .confirm-password-icon{
  position: absolute;
  top: 27px;
  right: 10px;
  width: 20px;
  cursor: pointer;
  opacity: 0.25;
  display: none;
}