.left-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
}

.left-bar-column {
  margin-bottom: 10px;
}

.left-bar-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.left-bar-card:hover {
  filter: brightness(110%);
}

.img-placeholder {
  width: 60px;
  height: auto;
  margin-right: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
 

.left-bar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.subject-code {
  display: none;
  position: absolute;
  top: 0;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.left-bar-container:hover .subject-code {
  display: block;
}
